.header {

    width: 100%;
    height: 200px;
   margin: 0 uto;
}

.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
  }
  
  
  .card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
  }
  
  .card__prices {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10%;
  }
  
 
  .card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }
  

  .card__price--common {
    font-weight: 700;
    font-size: 22px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
  
  
  .card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #414141;
  }
  
 
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ff6633;
    background-color: #ff6633;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
  }
  .cards {
    padding: 75px 0;
  }
  
  .container {

    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .container__cards {
    display: grid;
    width: 100%;
    max-width: 1500;
    grid-template-columns: repeat(auto-fill,225px);
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    margin: 0 auto;

  }